.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-column: 1 / -1;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  grid-column: 1;
  grid-row: 2 / -1;
  background-color: #f4f4f4;
  padding: 10px;
}

main {
  grid-column: 2;
  padding: 20px;
}

footer {
  grid-column: 1 / -1;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
} */

.login-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 62px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo {
  height: 15em;
  width: 22em;
  position: relative;
  left: 0em;
}

.crossed-price {
  position: relative;
  text-decoration: line-through;
}

.crossed-price::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.curved-rectangle {
  border-radius: 30px;
  /* Adjust the radius as needed */
  padding: 2px;
  /* Adjust padding as needed */
  width: 3.5rem;
  background-color: #26a541;
  color: white;
  font-weight: bold;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

/* Style the button */
.rounded-button {
  display: inline-block;
  padding: 7px 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid lightgrey;
  cursor: pointer;
  font-size: 15px;
}

.alert-success {
  bottom: 0.5em;
  left: 47em;
}

.star {
  color: red;
}

/* Hover effect */
/* .rounded-button:hover {
  background-color: #2980b9;
} */

/* Absolute Center Spinner */
.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loader:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loader:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loader:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Custom CSS for the expandable list */
.expandable-list .list-group-item {
  cursor: pointer;
}

.accordion-Container {
  width: 100%;
}

.rating-md {
  font-size: 2em;
}

.accordion-Container label.acTab {
  padding: 1px 0px 1px 1em;
}

.multi-open,
.single-open {
  border: 1px solid #9b9b9b;
}

/* Acordeon styles */
.accordion-Container .tab {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  color: #313131;
  overflow: hidden;
}

.accordion-Container .inputtab {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion-Container label.acTab {
  position: relative;
  display: block;
  /*padding: 0 0 0 1em;*/
  background: #e6e4e4;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.accordion-Container .blue label.acTab {
  background: #ffffff;
}

.accordion-Container .tab-content {
  max-height: 0;
  overflow: hidden;
  background: #f7f7f7;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.accordion-Container .blue .tab-content {
  background: #e9e9e9;
}

.accordion-Container .tab-content p {
  margin: 1em;
}

/* :checked */
.accordion-Container input:checked~.tab-content {
  max-height: 100em;
}

/* Icon */
.accordion-Container label.acTab::after {

  position: absolute;
  right: 0;
  top: -5px;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  border-radius: 50%;
  margin: 8px 10px;
  color: black;
  font-size: 22px;

}

.accordion-Container input[type=checkbox]+label.acTab::after {
  content: '<';
  font-size: 15px;
  font-weight: 15px;

}

.accordion-Container input[type=checkbox]:checked+label.acTab::after {
  transform: rotate(180deg);
  content: "^";
  font-size: 15px;
  font-weight: 15px;
}